doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Vancas
        link(rel="stylesheet" href="style.css")
    body    
        div(class="colors")
            div(class="color-option" style="background-color: #00a8ff" data-color="#00a8ff")
            div(class="color-option" style="background-color: #9c88ff" data-color="#9c88ff")
            div(class="color-option" style="background-color: #fbc531" data-color="#fbc531")
            div(class="color-option" style="background-color: #4cd137" data-color="#4cd137")
            div(class="color-option" style="background-color: #487eb0" data-color="#487eb0")
            div(class="color-option" style="background-color: #e84118" data-color="#e84118")
            div(class="color-option" style="background-color: #f5f6fa" data-color="#f5f6fa")
            div(class="color-option" style="background-color: #7f8fa6" data-color="#7f8fa6")
            div(class="color-option" style="background-color: #273c75" data-color="#273c75")
            div(class="color-option" style="background-color: #353b48" data-color="#353b48")
        canvas
        div(class="tools")
            input(id=`line-width` type=`range` min=`1` max=`10` value = `5` step=`0.1`)
            input(type="color" id="color")
            button(id="paintMode") Fill
            button(id="reset") Reset
            button(id="eraser") Eraser
            label(for="file") Add Photo
                input(type="file" accept="image/*" id="file")
            input(type="text" placeholder="Write and Double Click" id="text")
            button(id="save") Save
        script(src="app.js")
