@import "reset.css";
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  border: 2px solid black;
}
.color-option {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
}
